<html>
    <head>
        <meta charset="utf-8">
        <title>Kicker ELO</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <h3 class="winnerloser">{{ message }}</h3>
            <div class="playerinput">
                <input type="text" autofocus>
            </div>
            <button>Log »</button>
            <div id="lower">
                <table>
                    <tr v-for="player in Object.keys(table)">
                        <td> <span class="player" :title="player" :style="playerimg[player]"> {{ player }} </span>
                        </td>
                        <td> {{ table[player] }}
                        </td>
                    </tr>
                </table>
                <div id="log">
                    <span v-for="entry in log">
                        <span v-for="winner in entry.winners">
                            <span class="player" :title="winner" :style="playerimg[winner]"></span>
                        </span>
                        —
                        <span v-for="loser in entry.losers">
                            <span class="player" :title="loser" :style="playerimg[loser]"></span>
                        </span>
                        (+-{{ entry.value }})
                        <br>
                    </span>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
