.player {
    width: 100px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px 20px;
    padding-left: 28px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 2px;
}
